extends ../layout

block content
    .container
        .row
            form.form-horizontal(method="post", action="/admin/flower" enctype="multipart/form-data")
                if flower._id
                    input(type="hidden",name="flower[_id]",value=flower._id)
                .form-group
                    label.col-sm-2.control-label(for="inputCatetory") 产品分类
                    .col-sm-10
                        input#inputCatetory.form-control(type="text",name="flower[catetoryName]",value=flower.catetoryName)
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 分类选择
                    each cat in catetories
                        label.radio-inline
                            if flower._id
                                input(type="radio",name="flower[catetory]",value=cat._id,checked=cat._id.toString()==flower.catetory.toString())
                            else
                                input(type="radio",name="flower[catetory]",value=cat._id)
                            | #{cat.name}
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") 产品名称
                    .col-sm-10
                        input#inputTitle.form-control(type="text",name="flower[title]",value=flower.title)
                .form-group
                    label.col-sm-2.control-label(for="inputLocation") 地理分布
                    .col-sm-10
                        input#inputLocation.form-control(type="text",name="flower[location]",value=flower.location)
                .form-group
                    label.col-sm-2.control-label(for="inputCulture") 植物文化
                    .col-sm-10
                        input#inputCulture.form-control(type="text",name="flower[culture]",value=flower.culture)
                .form-group
                    label.col-sm-2.control-label(for="inputScenarios") 应用场景
                    .col-sm-10
                        input#inputScenarios.form-control(type="text",name="flower[scenarios]",value=flower.scenarios)
                .form-group
                    label.col-sm-2.control-label(for="inputPoster") 图片地址
                    .col-sm-10
                        input#inputPoster.form-control(type="text",name="flower[poster]",value=flower.poster)
                .form-group
                    label.col-sm-2.control-label(for="inputPoster") 图片上传
                    .col-sm-10
                        input#uploadPoster(type="file",name="uploadPoster")
                .form-group
                    label.col-sm-2.control-label(for="inputPrice") 价格
                    .col-sm-10
                        input#inputPrice.form-control(type="text",name="flower[price]",value=flower.price)
                .form-group
                    label.col-sm-2.control-label(for="inputConservation") 养护方式
                    .col-sm-10
                        input#inputConservation.form-control(type="text",name="flower[conservation]",value=flower.conservation)
                .form-group
                    .col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type="submit")  录入
    script(src="/js/admin.js")