//
   Created by Kenvi on 2016/4/2.

extends ../layout
block content
   .container.mt40
      .row
         table.table.table-hover.table-bordered
            thead
               tr
                  th 分类名称
                  th 录入时间
                  th 包含产品
                  th 更新
                  th 删除
               tbody
                  each item in catetories
                     tr(class="item-id-#{item._id}")
                        td #{item.name}
                        td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
                        td
                           each flo in flower
                              span #{flo.title}
                           //--for(var i=0;i<flower.length;i++){
                              -for(var j=0;j<item.flowers.length;j++){
                                 -if (item.flowers[j] = flower[i]._id){
                                    #{flower[i].title}
                                 -}
                              -}

                           //--}
                        td: a(target="_blank",href="../admin/update/#{item._id}") 修改
                        td
                           button.btn.btn-danger.del(type="button",data-id="#{item._id}",data-class="catetory")  删除
   script(src="/js/admin.js")