extends ../layout

block content
    .detail.container.mt40
        .J_Poster.poster-main(data-setting='{"width":1170,"height":653,"posterWidth":980,"posterHeight":653,"scale":0.8,"autoPlay":true,"delay":2000,"speed":300}')
            .poster-btn.poster-prev-btn.glyphicon.glyphicon-chevron-left
            ul.poster-list
                each poster in flower.poster
                    li.poster-item
                        img(src="/upload/#{poster}", width="100%", align="center")
            .poster-btn.poster-next-btn.glyphicon.glyphicon-chevron-right
        .detail-text.fs18.mt40
            .row.mt20.pb20
                .col-md-4.b-r.pt20
                    dl.dl-horizontal
                        dt.c-green
                          span.glyphicon.glyphicon-leaf
                          span 产品名称
                        dd #{flower.title}
                .col-md-4.b-r.pt20
                    dl.dl-horizontal
                        dt.c-green
                            span.glyphicon.glyphicon-leaf
                            span 价格
                        dd.c-red ¥#{flower.price}
                .col-md-4.pt20
                    dl.dl-horizontal
                        dt.c-green
                            span.glyphicon.glyphicon-leaf
                            span 应用场景
                        dd #{flower.scenarios}
            img.detail-text-img(src="/images/detail-img_1.jpg",align="center")
            .row.mt40.pb20.pl15.pr50
                dl.dl-horizontal
                    dt.c-green
                        span.glyphicon.glyphicon-leaf
                        span 地理分布
                    dd.pr15 #{flower.location}
            img.detail-text-img(src="/images/detail-img_2.jpg",align="center")
            .row.mt40.pb20.pl15.pr50
                dl.dl-horizontal
                    dt.c-green
                        span.glyphicon.glyphicon-leaf
                        span 植物文化
                    dd.pr15 #{flower.culture}
            img.detail-text-img(src="/images/detail-img_3.jpg",align="center")
            .row.mt40.pb20.pl15.pr50
                dl.dl-horizontal
                    dt.c-green
                        span.glyphicon.glyphicon-leaf
                        span 养护方式
                    dd.pr15 #{flower.conservation}
    .tips-info.container.text-right.pr50
        p 以上介绍大部分来自维基百科，少部分来自百度百科。
    script(src="/js/detail.js")