extends ../layout

block content
    .container.mt40.pb100
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 产品名称
                        //-th 地理分布
                        th 推荐指数
                        th 应用场景
                        th 录入时间
                        th 浏览量
                        th 类别
                        th 查看
                        th 更新
                        th 删除
                    tbody
                        each item in flowers
                            tr(class="item-id-#{item._id}")
                                td #{item.title}
                                //-td #{item.location}
                                td #{item.recommend}
                                td #{item.scenarios}
                                td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
                                td #{item.pv}
                                td #{item.catetory}
                                td: a(target="_blank",href="/flower/#{item._id}") 查看
                                td: a(target="_blank",href="/admin/flower/update/#{item._id}") 修改
                                td
                                    button.btn.btn-danger.del(type="button",data-id="#{item._id}",data-class="flower")  删除
    script(src="/js/admin.js")