extends ../layout

block content
    .container
        .row
            each cat in catetories
                .panel.panel-default
                    .panel-heading
                        h3
                            a(href='/results?cat=#{cat._id}&p=0') #{cat.name}
                    .panel-body
                        if cat.flowers && cat.flowers.length > 0
                            each item in cat.flowers
                                .col-md-2
                                    .thumbnail
                                        a(href="/flower/#{item._id}")
                                            if item.poster.indexOf('http') > -1
                                                img(src="#{item.poster}",alt="#{item.title}")
                                            else
                                                img(src="/upload/#{item.poster}",alt="#{item.title}",width="150")
                                        .caption
                                            h3 #{item.title}
                                            p: a.btn.btn-primary(href="/flower/#{item._id}",role="button") 详情