extends ../layout

block content
    #large-header.banner.pb20
        #myCarousel.carousel.slide(data-ride="carousel")
            ol.carousel-indicators
                - for(var i=0;i<banners.length;i++){
                    - if(i==0){
                        li.active(data-target="#myCarousel",data-slide-to="0")
                    - }else{
                        li(data-target="#myCarousel",data-slide-to="#{i}")
                    - }
                - }
            .carousel-inner
                - for(var j=0;j<banners.length;j++){
                    - if(j==0){
                        .item.active
                            img(src="/upload/#{banners[0].banner}",alt="#{banners[0].name}")
                    - }else{
                        .item
                            img(src="/upload/#{banners[j].banner}",alt="#{banners[j].name}")
                    - }
                - }
            a.left.carousel-control(href="#myCarousel",data-slide="prev")
                span.glyphicon.glyphicon-menu-left.fs-10(aria-hidden="true")
            a.right.carousel-control(href="#myCarousel",data-slide="next")
                span.glyphicon.glyphicon-menu-right.fs-10(aria-hidden="true")
            canvas#anmi-canvas
    .container
        .row
            each cat in catetories
                .panel.panel-default
                    .panel-heading
                        h3
                            a(href='/results?cat=#{cat._id}&p=0') #{cat.name}
                    .panel-body
                        if cat.flowers && cat.flowers.length > 0
                            each item in cat.flowers
                                .col-md-2
                                    .thumbnail
                                        a(href="/flower/#{item._id}")
                                            if item.poster.indexOf('http') > -1
                                                img(src="#{item.poster}",alt="#{item.title}")
                                            else
                                                img(src="/upload/#{item.poster}",alt="#{item.title}",width="150")
                                        .caption
                                            h3 #{item.title}
                                            p: a.btn.btn-primary(href="/flower/#{item._id}",role="button") 详情
    script(src="/js/TweenLite.min.js")
    script(src="/js/EasePack.min.js")
    script(src="/js/jsanim.js")
    scrpit
        | $('.carousel').carousel();
