extends ../layout
block content
    img(src="/images/knowledge-bannerbg.jpg",align="center",width="100%",style="min-width:1170px")
    .container.mt100.pb100
        .row
            .col-md-3.fs18.text-center
                .navbar.navbar-success(role="navigation")
                    h3.bg-green.c-f.fs18 养护知识
                    ul.nav.navbar-nav
                        li.dropdown
                            a(href="##",data-toggle="dropdown",class="dropdown-toggle") 小盆栽
                               span.caret
                            ul.dropdown-menu
                               li: a.text-center.fs14(href="##") 仙人球
                               li: a.text-center.fs14(href="##") 发财树
                               li: a.text-center.fs14(href="##") 网纹花
                        li.dropdown
                            a(href="##",data-toggle="dropdown",class="dropdown-toggle") 大盆栽
                               span.caret
                            ul.dropdown-menu
                               li: a.text-center.fs14(href="##") 步步高发财树
                               li: a.text-center.fs14(href="##") 单株发财树
                               li: a.text-center.fs14(href="##") 巴西木
                        li.dropdown
                            a(href="##",data-toggle="dropdown",class="dropdown-toggle") 花束
                               span.caret
                            ul.dropdown-menu
                               li: a.text-center.fs14(href="##") 香槟玫瑰
                               li: a.text-center.fs14(href="##") 组合玫瑰
                               li: a.text-center.fs14(href="##") 桔梗

            .col-md-9.pl25
                h2.text-center 步步高发财树
                p.fs14.c-9.text-center 2015.11.11
                hr
                .news-content.fs18 #{newsContent1}
                .news-content.fs18 #{newsContent2}
                .news-content.fs18 #{newsContent3}
                .news-content.fs18 #{newsContent4}
                .news-content.fs18 #{newsContent5}
                .news-content.fs18 #{newsContent6}
                .news-content.fs18 #{newsContent7}
                .news-content.fs18 #{newsContent8}
                .news-content.fs18 #{newsContent9}
                hr
                .pb10
                    .pull-left
                        span 上一篇：&nbsp;&nbsp;
                        a(href="##") 食品饮料动态行业跟踪报告
                    .pull-right
                        span 下一篇：&nbsp;&nbsp;
                        a(href="##") 食品检查报告