extends ../layout


block content
   img(src="/images/pro-list-bannerbg.jpg",align="center",width="100%",style="min-width:1170px")
   .container.mt100.wrap
      .info-title
         .title-content.text-center.p-r
            h1 产品列表
            span PRODUCTS LIST
      ul.nav.nav-pills.mt40.list-nav.fs18.c-f.text-center
         li.col-md-2.active 全部
         each cat in catetories
            li.col-md-2(data-id="#{cat._id}") #{cat.name}
      .row.mt40.list-content
         each cat in catetories
            if cat.flowers && cat.flowers.length > 0
               each item in cat.flowers
                  .col-md-3.mt20.pro(data-cat="#{item.catetory}")
                     a.d-b.pro-show.p-r(href="/flower/#{item._id}")
                        img(src="/upload/#{item.thumbnail}",alt="#{item.title}",width="260",height="260")
                        .pro-back.p-a.pt20
                           h4 价格：¥#{item.price}
                           h4 适合：#{item.scenarios}
                           h4.text-center 立即查看
                     h4.text-center #{item.title}
      ul.pagination.pull-right
   .container.mt100.pb100.our-service
      .info-title
         .title-content.text-center.p-r
            h1 提供服务
            span OUR SERVICE
      .row.mt40
         .col-md-6
            img(src="/images/list-service.jpg",width="555px",alt="我们的服务")
         .col-md-6.fs18.pl15
            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广州微林园林绿化工程有限公司是广州市目前最专业的室内绿化植物租赁，室内绿化管理团队之一，我们努力为客户营造优雅、茵绿、美观、舒适的办公环境。
            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们意识到客户的个性化需求，为此精心准备了一百多种植物供客户选择，并为客户提供植物摆放设计，用精美的配套物品装饰植物，力求达到艺术性、欣赏性和实用性的完美结合。
            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们凭借专心的服务理念、优质专业的服务质量在植物租赁业务上取得了长足的发展，为各行各业多家客户提供良好的服务，在服务过程中我们赢得了客户的普遍赞誉。
            p 我们的服务理念：专业、专注、专心。
            p 我们的服务宗旨：提供优质服务，营造优雅、茵绿、美观、舒适的绿化环境。
            p 我们的服务承诺：
               br
               span （1）规范的服务，专业的技术，公道的价格；
               br
               span （2）免费为您设计摆放效果，为您量身营造茵绿的自然办公环境；
               br
               span （3）配送一步到位，定期养护，定期更换，保证观赏效果。
            p 我们的服务标准：
               br
               span （1）植物造型美观，摆放合理，叶色自然；
               br
               span （2）清洁卫生，叶面无尘土，无枯枝落叶，无病无虫，盆土无异味；
               br
               span （3）定期进行质量服务检查征求客户意见，及时解决出现问题。
      //-.row.mt100
         each cat in catetories
            .panel.panel-default
               .panel-heading
                  h3
                     a(href='/results?cat=#{cat._id}&p=0') #{cat.name}
               .panel-body
                  if cat.flowers && cat.flowers.length > 0
                     each item in cat.flowers
                        .col-md-2
                           .thumbnail
                              a(href="/flower/#{item._id}")
                                 if item.poster.indexOf('http') > -1
                                    img(src="#{item.poster[0]}",alt="#{item.title}")
                                 else
                                    img(src="/upload/#{item.poster[0]}",alt="#{item.title}",width="150")
                              .caption
                                 h3 #{item.title}
                                 p: a.btn.btn-primary(href="/flower/#{item._id}",role="button") 详情
   script(src="/js/list.js")
