extends ../layout
block content
   .container.mt40
      .row
         table.table.table-hover.table-bordered
            thead
               tr
                  th 新闻标题
                  th 内容
                  th 录入时间
                  th 更新
                  th 删除
               tbody
                  each item in news
                     tr(class="item-id-#{item._id}")
                        td #{item.title}
                        td 
                           each con in item.content
                              span #{con}
                        td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
                        td: a(target="_blank",href="/admin/news/update/#{item._id}") 修改
                        td
                           button.btn.btn-danger.del(type="button",data-id="#{item._id}",data-class="news")  删除
   script(src="/js/admin.js")